<div>
  <mat-toolbar color="primary"> ESpression - ECMAScript Expression parser & evaluator </mat-toolbar>
  <mat-card>
    <p class="mat-subheading-1">
      <a href="https://github.com/ianchi/ESpression">ESpression</a> is a small and customizable
      EcmaScript expression parser and static eval, with support for jsonPath.
    </p>
    <p class="mat-caption">
      This playground lets you select a preset to use and enter expressions to parse and evaluate.
      An optional context for the evaluation can be defined in json format.
    </p>
  </mat-card>
</div>

<mat-card>
  <span class="radio-label">
    <label>Preset</label>
  </span>
  <mat-radio-group [(ngModel)]="preset" (change)="changePreset()" style="display: block">
    <mat-radio-button value="ES6" color="primary">ES6</mat-radio-button>
    <mat-radio-button value="jsep" color="primary">jsep</mat-radio-button>
    <mat-radio-button value="jsonPath" color="primary">jsonPath</mat-radio-button>
    <mat-radio-button value="ES5+jP" color="primary">ES5+jP</mat-radio-button>
  </mat-radio-group>
  <mat-form-field>
    <textarea
      matInput
      placeholder="Expression"
      [matTextareaAutosize]="true"
      [matAutosizeMinRows]="1"
      [matAutosizeMaxRows]="5"
      (input)="updateExpression()"
      [(ngModel)]="expression"
    ></textarea>
  </mat-form-field>
</mat-card>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Context</mat-panel-title>
  </mat-expansion-panel-header>

  <mat-checkbox [(ngModel)]="builtins" (change)="updateContext()" color="primary">
    Standard built-in objects
  </mat-checkbox>
  <mat-form-field>
    <textarea
      #contextTxt="ngModel"
      validExpression
      matInput
      [matTextareaAutosize]="true"
      [matAutosizeMinRows]="1"
      [matAutosizeMaxRows]="10"
      (input)="updateContext()"
      [(ngModel)]="contextStr"
    ></textarea>
    <mat-error>
      {{ contextTxt.getError('validExpression')?.message }}
    </mat-error>
  </mat-form-field>
</mat-expansion-panel>

<mat-card>
  <mat-card-header>
    <mat-card-title> Static Eval Result </mat-card-title>
  </mat-card-header>
  <pre>{{ showValue }}</pre>
</mat-card>

<mat-card>
  <mat-card-header color="accent">
    <mat-card-title> Parsed AST </mat-card-title>
  </mat-card-header>
  <mat-card-content class="ast">
    <pre>
  {{ ast | json }}
</pre
    >
  </mat-card-content>
</mat-card>
